= haml :grading_schema
#identity-container.row
  .span8
    %h1.section-header Identity
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td.profile-picture-container{:width => "120px", :rowspan => "7"}
            %img#cc-identity-profile-image.profile-image{:src => ""}/
          %td
            %b First Name
          %td
            %span#cc-identity-first-name
        %tr
          %td
            %b Last Name
          %td
            %span#cc-identity-last-name
        %tr
          %td
            %b Login
          %td
            %span#cc-identity-login
        %tr
          %td
            %b Category
          %td
            %span#cc-identity-category
        %tr
          %td
            %b Candidate No.
          %td
            %span#cc-identity-candidate-number
        %tr
          %td
            %b CID
          %td
            %span#cc-identity-cid
        %tr
          %td
            %b Personal Tutor
          %td
            %span#cc-identity-personal-tutor
  .span4
    %h1.section-header Other Links
    %ul.nav.nav-tabs.nav-stacked
      %li.disabled
        %a{:href => "#"}
          .list-icon-container
            %i.icon-bar-chart>
            \ 
          .list-text Analytics
      %li
        %a#cc-other-grading-schema{:role => "button", :"data-toggle" => "modal", :"data-target" => "#grading-schema-modal", :href => "#"}
          .list-icon-container
            %i.icon-key>
            \ 
          .list-text Department Grading Schema
      %li.disabled
        %a#cc-other-documentation{:href => "#"}
          .list-icon-container
            %i.icon-file-alt>
            \ 
          .list-text Documentation
      %li
        %a#cc-other-extensions{:href => "#"}
          .list-icon-container
            %i.icon-exclamation-sign>
            \ 
          .list-text Late Submissions/Extensions
      %li.disabled
        %a{:href => "#"}
          .list-icon-container
            %i.icon-briefcase>
            \ 
          .list-text Lecture Notes + Exs Registration
      %li
        %a#cc-other-projects-portal{:href => "#"}
          .list-icon-container
            %i.icon-lightbulb>
            \ 
          .list-text Projects Portal
      %li.disabled
        %a{:href => "#"}
          .list-icon-container
            %i.icon-magic>
            \ 
          .list-text Special Activities
%hr
#exercises-container.row
  .span12
    %h1.section-header 
      Exercises
      #exercise-nav
        #term-selector.btn-group{"data-toggle" => 'buttons-radio'}
          %button.btn{:value => "1"} Autumn
          %button.btn{:value => "3"} Spring
          %button.btn{:value => "5"} Summer
          %button.btn{:value => "6"} June-July
        %br
        %button.btn#ex-go-btn Go!
        %span#current-class.label 
        #class-selector.btn-group 
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} 
            Select Class
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:value => "c1"} COMP 1
            %li
              %a{:value => "c2"} COMP 2
            %li
              %a{:value => "c3"} COMP 3
            %li
              %a{:value => "c4"} COMP 4
            %li
              %a{:value => "j1"} JMC 1
            %li
              %a{:value => "j2"} JMC 2
            %li
              %a{:value => "j3"} JMC 3
            %li
              %a{:value => "j4"} JMC 4
            %li
              %a{:value => "i2"} ISE 2
            %li
              %a{:value => "i3"} ISE 3
            %li
              %a{:value => "i4"} ISE 4
            %li
              %a{:value => "v5"} Computing
            %li
              %a{:value => "s5"} Computing Spec.
            %li
              %a{:value => "a5"} Advanced
            %li
              %a{:value => "r5"} Research
            %li
              %a{:value => "y5"} Industrial
            %li
              %a{:value => "b5"} Bioinformatic
            %li
              %a{:value => "occ"} Occasional
            %li
              %a{:value => "r6"} PhD
            %li
              %a{:value => "ext"} External


#current_exercise_timeline